


@font-face {
  font-family: 'LXGWWenKai';
  font-style: normal;
  font-weight: 700;
  src: local('LXGWWenKai'), local('LXGWWenKai'),
       url('../fonts/LXGWWenKaiScreen.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/LXGWWenKaiScreen.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}